<% @page_title = "#{@collection.title} - #{application_name}" %>

<% if @collection.is_community or @collection.is_community == "true" %>
  <a href="/communities">View Communities</a>
  <div itemscope itemtype="http://schema.org/CollectionPage" class="row">
    <div class="col-sm-10 pull-right">
      <header>
        <h1><%= @presenter.title %></h1>
        <%= sanitize @presenter.description %>
      </header>
    </div>
    <div class="col-sm-2">
      <div id="community-logo">
        <%= image_tag url_for(:controller => 'communities', action: 'logo', id: @collection.id), alt: "No logo" %>
      </div>
      <% if !current_user.nil? %>
        <% if current_user.admin? %>
          <%= render partial: 'collections/show_actions' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= render_collection_list(@collection) %>
  <div itemscope itemtype="http://schema.org/CollectionPage" class="row">
    <div>
      <header>
        <h1><%= @presenter.title %></h1>
        <%= sanitize @presenter.description %>
      </header>
    </div>
    <div>
      <% if !current_user.nil? %>
        <% if current_user.admin? %>
          <%= render partial: 'collections/show_actions' %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'sort_and_per_page' %>

<% if @collection.is_community == true or @collection.is_community == "true" %>
  <% if has_collection_search_parameters? %>
      <% header_title = "Search Results within this Community" %>
  <% else %>
      <% header_title = "Collections and items in this Community" %>
  <% end %>
<% else %>
  <% if has_collection_search_parameters? %>
      <% header_title = "Search Results within this Collection" %>
  <% else %>
      <% header_title = "Items in this Collection" %>
  <% end %>
<% end %>

<% if @collection.is_community == true or @collection.is_community == "true" %>
  <div>
    <!-- Use CSS class h2 rather than HTML h2 tag to allow header and search box to align vertically -->
    <span class="h2"><%= header_title %></span>
  </div>
<% else %>
  <div>
    <!-- Use CSS class h2 rather than HTML h2 tag to allow header and search box to align vertically -->
    <span class="h2"><%= header_title %></span>
    <%= render partial: 'search_form'%>
  </div>
<% end %>

<% if current_user.nil? %>
  <div id="sidebar" class="col-md-3 col-sm-4">
    <%= render 'facets' %>
  </div>

  <div id="content" class="col-md-9 col-sm-8">
    <%= render 'document_list' %>
  </div>
<% else %>
  <% if current_user.admin? %>
    <%= render partial: 'show_document_list' %>

  <% else %>
    <div id="sidebar" class="col-md-3 col-sm-4">
      <%= render 'facets' %>
    </div>

    <div id="content" class="col-md-9 col-sm-8">
      <%= render 'document_list' %>
    </div>
  <% end %>
<% end %>

<%= render partial: 'paginate' %>
