<%= javascript_tag do %>
  <%= render partial: "edit", formats: [:js] %>
<% end %>
<div class="row">
<div class="col-sm-12">
  <ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-done first" id="step-one">1. Read &amp; Accept Deposit Agreement</li><!--
 --><li class="progtrckr-done" id="step-two">2. Choose &amp; Upload File</li><!--
 --><li class="progtrckr-current" id="step-three">3. Describe your Item</li><!--
 --><li class="progtrckr-todo last" id="step-five">4. Save and Deposit</li>
  </ol>
</div>
</div>


<h1>Describe Your Item</h1>
<p>
 <span class="required"><abbr title="required">*</abbr></span> indicates required fields.
</p>
  <div class="col-sm-12 well" id="metadata-form">
    
      <%= simple_form_for [sufia, @batch, @form], html: { multipart: true }, builder: Sufia::FormBuilder do |f| %>
      <%= render 'metadata', f: f %>
   
 </div>
    <div class="well col-sm-12"> 
      <%= render 'add_to_collections', f: f, batch: @batch %>  
    </div>
      <div class="well col-sm-12" id="permission-form"> 
      <%= render 'generic_files/permission_form', f: f, batch: @batch %></div>
  </div>
  <div id="permissions_submit">
    <%= button_tag type: 'submit', class: 'btn btn-primary btn-lg',
        onclick: "confirmation_needed = false;", id: "upload_submit", name: "update_permission" do %>
      <i class="glyphicon glyphicon-floppy-disk"></i> Save
    <% end %>
  </div>

<% end %>
