      <table class="table">
        <tr>
          <th><span class="attribute-label h4">Title:</span></th>
          <td><%= work.title %></td>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Creator:</span></th>
          <td><%= work.creator %></td>
        </tr>
        <tr>
          <% if work.description %>
            <th><span class="attribute-label h4">Description:</span></th>
            <td><%= iconify_auto_link(work.description) %></th>
          <% elsif work.abstract %>
            <th><span class="attribute-label h4">Abstract:</span></th>
            <td><%= iconify_auto_link(work.abstract) %></th>
          <% end %>
        </tr>
        <tr>
          <th><span class="attribute-label h4">Subjects:</span></th>
          <td><%= work.subjects.join(', ') %></td>
        </tr>
        <% if work.date_created? %>
          <tr>
            <th><span class="attribute-label h4">Date Created:</span></th>
            <td><%= work.date_created %></td>
          </tr>
        <% end %>
      </table>

