<div class="main row">

  <% if recent_document %>
    <% if display_thumbs %>
      <div class="col-sm-3">
        <%= link_to sufia.generic_file_path(recent_document) do %>
          <%= render_thumbnail_tag recent_document, { width: "100%" } %>
        <% end %>
      </div>
    <% end %>
    <div class="col-sm-9">
      <dl>
        <dt class="sr-only">Title:</dt>
        <dd><%= link_to recent_document.title_or_label, sufia.generic_file_path(recent_document), title: recent_document.title_or_label, class: 'title'  %>
          <% if display_access %>
             <% if recent_document.registered? %>
                  <span class="label label-info" title="<%=t('sufia.institution_name') %>"><%=t('sufia.institution_name') %></span>
              <% elsif recent_document.public? %>
                  <span class="label label-success">Open Access</span>
              <% else %>
                  <span class="label label-danger">Private</span>
              <% end %>
          <% end %>
        </dd>
        <dt class="sr-only">Description:</dt>
        <dd><%= recent_document.description.html_safe if recent_document.description %>
        <dt>Author/Creators:</dt>
        <dd><%= recent_document.creator.html_safe if recent_document.creator.present? %></dd>
      </dl>
    </div>
  <% end %>
</div>
