<div class="col-xs-9">
  <div class="col-xs-6 col-sm-3 heading-tile">
    <%= link_to sufia.dashboard_index_path  do %>
        <span class="glyphicon glyphicon-home"></span>
        <%= t("sufia.dashboard.dashboard_home") %>
    <% end %>
  </div>
  <% if can?(:create, GenericFile) %>
    <div class="col-xs-6 col-sm-3 heading-tile">
      <%= link_to sufia.new_generic_file_path do %>
          <span class="glyphicon glyphicon-upload"></span>
          <%= t("sufia.dashboard.upload_files") %>
      <% end %>
    </div>
  <% end %>
  <div class="col-xs-6 col-sm-3 heading-tile">
    <%= link_to sufia.dashboard_files_path  do %>
        <span class="glyphicon glyphicon-list"></span>
        <%= t("sufia.dashboard.my_files_&_collections") %>
    <% end %>
  </div>
    <div class="col-xs-6 col-sm-3 heading-tile">
      <%= link_to  sufia.profile_path(current_user) do %>
          <span class="glyphicon glyphicon-user"></span>
          <%= t("sufia.dashboard.my_profile") %>
      <% end %>
    </div>
  </div>
</div>
  

