<h2>Login to ERA</h2>
<h3>Do you have a University of Alberta CCID?</h3>

<div class="col-sm-8 col-sm-offset-2">
<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "YES, I have a CCID", (omniauth_authorize_path(resource_name, provider)), :class => "btn btn-primary btn-ccid" %>
  <% end -%>
<% end -%>
</div>
<div class="col-sm-4 col-sm-offset-4">
<a href="#" class="btn btn-primary btn-noccid">NO, I do not have a CCID</a>

<div id="era-login">
	<p>login with your ERA Account, if you don't have one, <%= link_to "sign up now", new_registration_path(resource_name) %>.</p>
	<div class="col-sm-12">
		<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-inline' }) do |f| %>
		<%= f.input :email, required: false, autofocus: true %>
    	<%= f.input :password, required: false %>
    	<%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  		<div class="form-actions">
    		<%= f.button :submit, "Login", :class => "btn btn-primary" %>
  		</div>
		<% end %>
	</div>
	<div class="col-sm-12">
		<%= render "devise/shared/links" %>
	</div>
</div>
</div>