<div class="row">
Please read and agree to the <a href='/agreement/' target="_blank"><%= t('sufia.deposit_agreement') %></a> before you begin.
</div>
<div class="well">
<div class="agreement-text" id="agreement-text-<%= tab %>">
<h3 style="margin-top: 0">University of Alberta ERA Deposit Agreement</h3>
<%= render partial: "static/agreement" %>
</div>
<%= button_tag "Read more", class: 'btn cancel reset-special-reports', id: 'unfold-agreement-' + tab, name: "unfold-agreement-" + tab, onclick: "confirmation_needed = false;", type: :reset %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
$("#unfold-agreement-<%= tab %>").click(function() {
    var agr = $("#agreement-text-<%= tab %>");
    var btn = $("#unfold-agreement-<%= tab %>");
    if (agr.hasClass('unfolded')) {
      agr.removeClass('unfolded').height("100px");
      btn.html("Read more");
    }
    else {
      agr.addClass('unfolded').height("100%");
      btn.html("Close");
    }
  });
});
</script>

