<div class="controls">
  <%= label_tag :special_reports, 'Uploading Special Reports?' %>
  <%= radio_button_tag :resource_type, 'Computing Science Technical Report' %>
  <%= label_tag :resource_type, 'Computing Science Technical Report' %>
  <%= radio_button_tag :resource_type, 'Structural Engineering Report' %>
  <%= label_tag :resource_type, 'Structural Engineering Report' %>
  <%= button_tag "Reset", type: :reset %>  
</div>
