<div id="masthead" class="container">
  <div class="row visible-xs">
    <div class="lib-logo col-xs-8">
      <%= link_to "", "https://library.ualberta.ca", :class => 'logo' %>
      </div>
      <div class="col-xs-4 user-util">
        <%= render partial: "/user_util_links"%>
      </div>
  </div>
  <div class="row">
    <div class="lib-logo col-md-3 hidden-xs">
      <%= link_to "", "https://library.ualberta.ca", :class => 'logo' %>
    </div>
    <div class="mast-branding col-md-5">
      <h2 class="hidden-xs">education &amp; research archive</h2>
      <h1><a href="/">ERA</a></h1>
    </div>
    <div class="col-md-4">
      <form accept-charset="UTF-8" action="/catalog" id="search-form-header" method="get" role="search" class="form-inline hidden-xs mast-sm-search">
        <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
        <div class="form-group">
          <input type="text" class="form-control q" id="search-field-header" name="q" placeholder="enter search terms">
        </div>
        <button type="submit" class="btn btn-default sm-search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>Search ERA</button>
      </form>
      <div class="col-md-12 user-util hidden-xs">
        <%= render partial: "/user_util_links"%>
      </div>
    </div>
  </div>
  <div class="row mast-branding ">
      <ul class="hidden-xs col-sm-8 col-sm-offset-2">
        <li><a href="/" class="first">home</a></li>
        <li><a href="/browse">browse</a></li>
        <li><a href="/advanced">search</a></li>
         <% if signed_in? %><li><a href="/dashboard">dashboard</a></li><% end %>
        <li><a href="/files/new">upload your research</a></li>
        <li><a href="https://docs.google.com/a/ualberta.ca/forms/d/1ZXZ2-TUVtsX06m3Ffw1K0Lv0kgLw6bghWqTHx8D1-q4/viewform" class="last">contact</a></li>
      </ul>
  </div>
</div>
<div class="col-xs-12 visible-xs mobile-search">
  <%= render partial: "/front_search_form"%>
</div>
