<div class="lightbox" id="lightbox">
  <div class="lightbox-content">
    <a href="https://hydranorthdev.library.ualberta.ca/dashboard/files?closed=yes" class="textright"><span class="glyphicon glyphicon-remove my-close"></span></a>
    <div class="col-sm-12">
  <ol class="progtrckr" data-progtrckr-steps="4">
    <li class="progtrckr-done first" id="step-one">1. Read &amp; Accept Deposit Agreement</li><!--
 --><li class="progtrckr-done" id="step-two">2. Choose &amp; Upload Files</li><!--
 --><li class="progtrckr-done" id="step-three">3. Describe your Items</li><!--
 --><li class="progtrckr-current last" id="step-five">4. Save and Deposit</li>
  </ol>
</div>
      <h2>Thank you for adding your research to ERA!</h2>
      <p> We are currently processing your item(s). This may take awhile.</p>
      <p> <strong>If you would like to continue using ERA while we process, you can <a href="https://hydranorthdev.library.ualberta.ca/dashboard/files?closed=yes">close</a> this window at any time. </strong></p>
      <%= image_tag("progress.gif") %>
      <p>When your files are processed this window will close automatically.</p>
  </div>
  </div>
<% current_tab = @selected_tab.to_s %>

<%= javascript_tag do %>
  <%= render partial: 'scripts', formats: [:js] %>
<% end %>

<% @page_title = "#{current_tab.capitalize} listing" %>

<%= content_for :heading do %>

    <%= render partial: "dashboard/_index_partials/heading_greetings", locals: { title: "My Files & Collections" } %>

    <%= render partial: "dashboard/_index_partials/heading_actions" %>

<% end %>

<ul class="nav nav-tabs" id="my_nav">
  <h1 class="sr-only">Listing Navigation Bar</h1>
  <span class="sr-only">You are currently listing your <%= current_tab.pluralize %> .  You have <%= @response.docs.count %> <%= current_tab.pluralize(@response.docs.count)%> </span>
  <li class="<%= "active" if @selected_tab == :files %>">
    <%= link_to t('sufia.dashboard.my.files'), sufia.dashboard_files_path %>
  </li>
  <li class="<%= "active" if @selected_tab == :collections %>">
    <%= link_to t('sufia.dashboard.my.collections'), sufia.dashboard_collections_path %>
  </li>
  <li class="<%= "active" if @selected_tab == :highlighted %>">
    <%= link_to t('sufia.dashboard.my.highlights'), sufia.dashboard_highlights_path %>
  </li>
  <li class="<%= "active" if @selected_tab == :shared %>">
    <%= link_to t('sufia.dashboard.my.shares'), sufia.dashboard_shares_path %>
  </li>
  <% if current_user.group_list == 'admin' %>
  <li class="<%= "active" if @selected_tab == :all %>">
    <%= link_to t('hydranorth.dashboard.my.all'), dashboard_all_path %>
  </li>
  <% end %>
</ul>

<%= render 'search_header' %>

<h1 class="sr-only"><%=@page_title %></h1>
<%= render partial: 'document_list' %>

<% content_for :sidebar do %>
  <%= link_to t("sufia.dashboard.upload"), sufia.new_generic_file_path, class: "btn btn-primary" %>
  <%= link_to t("sufia.dashboard.create_collection"), collections.new_collection_path, id: "hydra-collection-add", class: "btn btn-primary" %>
  <%= render partial: 'facets', locals: {current_tab: current_tab} %>
<% end %>

<%= render 'results_pagination' %>
