<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <%= render partial: "layouts/head_tag_content"%>
  </head>

  <body class="home">
  
    <div class="dn-wrap hidden-xs">
      <div class="triangle"></div>
      <div class="dn"><a href="#profiles"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></div>
    </div>

    <div class="container-fluid front-images">
      <div class="row">
        <div class="col-xs-8 lib-logo " id="home-logo">
          <%= link_to "", "https://library.ualberta.ca", :class => 'logo' %>
        </div>
         <div class="col-xs-4 user-util-home">
         <%= render partial: "/user_util_links"%>
        </div>
        </div>
        <div class="row">
<div class="branding">
      <h1>ERA</h1>
      <h2>education &amp; research archive</h2>
    </div>
  </div>
      <div class="col-sm-6 slides hidden-xs" id="slide1">
       <%= render partial: "/front_search_form"%>
      </div>
      <div class="col-sm-6 slides hidden-xs" id="slide2">
        <a href="/files/new" class="call-to-action">Upload Your Research</a>
        <div class="row">
          <div class="col-sm-12 more-info">
           <h4><span class="hidden-sm">Get <a href="#info">more information</a> about this service or</span> <a href="contact">contact us</a></h4>
          </div>
        </div>

      </div>

      <div class="col-xs-12 visible-xs mobile-search">
        <%= render partial: "/front_search_form"%>
      </div>
     
    </div>

     <div class="tan visible-xs pane">
        <p class="mobile-message">This is the mobile version of ERA. You can search and browse. However to deposit please visit this site on a desktop or tablet computer.</p>
      </div>
    <div class="front-alert">
      <%= render partial: '/flash_msg' %>
    </div>

    <div class="container-fluid grid hidden-xs">
     <div class="boxes"><a name="profiles"></a>
        <div class="col-sm-4 first-row">
          <div class="show-image northern"><span class="glyphicon glyphicon-info-sign"></span><div class="show-info"><h4>Highlighted Collection</h4><h2>Northern North America Collection</h2><p>These images were donated to the University of Alberta by Dr. Joel Martin Halpern, a prominent anthropologist who did extensive work in the northern parts of North America.</p><a href="http://hdl.handle.net/10402/era.14579">go to collection</a></div></div>
        </div>
        <div class="col-sm-4 dark-tan first-row">
          <div class="text"><p class="mandate"><em>Keep it. Share it. Use it.</em> Welcome to University of Alberta’s Digital Repository and Asset Management Services.</p></div>
        </div>
         <div class="col-sm-4 first-row">
          <div class="show-image biology"><span class="glyphicon glyphicon-info-sign dark"></span> <div class="show-info"><h4>Highlighted Collection</h4><h2>Department of Biological Sciences</h2><p>The Department of Biological Sciences currently has over 70 professors, 20 adjunct professors and 20 professors emeritus, along with a graduate student population of nearly 300 and 70 departmental support staff.</p><a href="http://hdl.handle.net/10402/era.25395">go to collection</a></div></div>
        </div>
        <div class="col-sm-5 white second-row">

          <div class="chart"><h3>ERA currently has more than <strong>24,420</strong> items</h3>
         
        <div id="chartContainer">

</div>
    </div>
        </div>

        <div class="col-sm-3 blue second-row ">
          <div class="technical-info"><p>ERA builds on multi-institutional collaborations around open source technologies. For a full list of technical specifications, <a href="/about">see here</a>.</p></div>
        </div>
        <div class="col-sm-4 dark-tan second-row">
          <div id="tweets">
        
          </div>
        </div>
       
    </div>
  </div>
    <div class="container-fluid info-pane pane">
      <h2><a name="info"></a>What is ERA?</h2>
      <h3>Education &amp; Research Archive</h3>

<p>ERA (Education and Research Archive) is the name for University of Alberta's Digital Asset Management strategy, being developed and supported by the <a href="https://www.library.ualberta.ca">University of Alberta Libraries</a>. For more on the technology behind ERA see <a href="/about">Technology and Partnerships</a>.</p>

<p>ERA's open access content includes the intellectual output of the University and promotes global opportunities for research discovery as well as for archival preservation. ERA also provides an easy and convenient solution for faculty who must deposit their research in an open access repository to meet funding agency requirements.</p>
      
    </div>
    <%= render partial: "/footer" %>
<%= render 'shared/ajax_modal' %>
</body>
</html>
