<!DOCTYPE html>
<html lang="<%= t("sufia.document_language") %>">
  <head>
    <%= render partial: "layouts/head_tag_content"%>
  </head>

  <body>
    <%= render partial: '/flash_msg' %>
    <div class="dn-wrap hidden-xs">
      <div class="triangle"></div>
      <div class="dn"><a href="#profiles"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></a></div>
    </div>

    <div class="container-fluid front-images">
      <div class="row">
        <div class="col-xs-8 lib-logo " id="home-logo">
          <%= link_to "", "https://library.ualberta.ca", :class => 'logo' %>
        </div>
         <div class="col-xs-4 user-util">
         <%= render partial: "/user_util_links"%>
        </div>
        </div>
        <div class="row">
<div class="branding">
      <span class="hidden-xs">beta</span>
      <h1>ERA</h1>
      <h2>education &amp; research archive</h2>
    </div>
  </div>
      <div class="col-sm-6 slides hidden-xs" id="slide1">
       <%= render partial: "/front_search_form"%>
      </div>
      <div class="col-sm-6 slides hidden-xs" id="slide2">
        <a href="/files/new" class="call-to-action">Share Your Research</a>
        <div class="row">
          <div class="col-sm-12 more-info">
           <h4><span class="hidden-sm">Get <a href="#info">more information</a> about this service or</span> <a href="https://docs.google.com/a/ualberta.ca/forms/d/1ZXZ2-TUVtsX06m3Ffw1K0Lv0kgLw6bghWqTHx8D1-q4/viewform">contact us</a></h4>
          </div>
        </div>
      </div>
      <div class="col-xs-12 visible-xs mobile-search">
        <%= render partial: "/front_search_form"%>
      </div>
     
    </div>
     <div class="tan visible-xs pane">
        <p class="mobile-message">This is the mobile version of ERA. You can search and browse. However to deposit please visit this site on a desktop or tablet computer.</p>
      </div>



    <div class="container-fluid grid hidden-xs">
     <div class="boxes"><a name="profiles"></a>
        <div class="col-sm-4 first-row">
          <div class="show-image northern"><span class="glyphicon glyphicon-info-sign"></span><div class="show-info"><h4>Highlighted Collection</h4><h2>Northern North America Collection</h2><p>These images were donated to the University of Alberta by Dr. Joel Martin Halpern, a prominent anthropologist who did extensive work in the northern parts of North America.</p><a href="#">go to collection</a></div></div>
        </div>
        <div class="col-sm-4 dark-tan first-row">
          <div class="text"><p class="mandate"><em>Keep it. Share it. Use it.</em> Welcome to University of Alberta’s Digital Repository and Asset Management Services.</p></div>
        </div>
         <div class="col-sm-4 first-row">
          <div class="show-image researcher"><span class="glyphicon glyphicon-info-sign dark"></span> <div class="show-info"><h4>Researcher Profile</h4><h2>Joanne McNeal</h2><p>Joanne McNeal learned about Arctic life and cultures during her career working at colleges in the Northwest Territories and the Yukon. </p><a href="#">go to Joanne's profile</a></div></div>
        </div>
        <div class="col-sm-5 white second-row">

          <div class="chart"><h3>ERA currently has more than <strong>2,824</strong> items</h3>
         
        <div id="chartContainer">

</div>
    </div>
        </div>

        <div class="col-sm-3 blue second-row ">
          <div class="technical-info"><p>ERA builds on multi-institutional collaborations around open source technologies. For a full list of technical specifications, <a href="/about">see here</a>.</p></div>
        </div>
        <div class="col-sm-4 dark-tan second-row">
          <div id="tweets">
        
          </div>
        </div>
       
    </div>
  </div>
    <div class="container-fluid info-pane pane">
      <h2><a name="info"></a>What is ERA?</h2>
      <h3>Education &amp; Research Archive</h3>

<p>ERA is the name for University of Alberta’s Digital Asset Management strategy as actively being developed and supported by the <a href="https://www.ualberta.ca">University of Alberta Libraries</a>. </p>

<p>ERA represents a coordinated approach to offering user-centred services in support of better access, discovery, shareability and preservation of digital research, teaching and learning objects. Scalability and extensibility are critical design requirements when dealing with wide ranging digital formats, including both raw and processed data. Security, stability, and trust are top of mind in providing the quality of service our users have come to depend on. For more on the technology behind ERA <a href="/about">see here</a>. </p>
      
    </div>
    <%= render partial: "/footer" %>
<%= render 'shared/ajax_modal' %>
</body>
</html>
